/*-----------Google Fonts------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*-----------CSS variables------------ */
:root{
    --header-height: 3rem;
    --font-semi: 600;
}

/*-----------Colors------------ */
:root{
    --first-color: #e0b53c;
    --second-color: #0E2431;
}

/*-----------Fonts------------ */
:root{
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
:root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
}
}
/*-----------Margins------------ */
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*-----------Z-index------------ */
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*-----------Base------------ */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
h1,h2,p{
    margin: 0;  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    border-radius: .5rem;
    height: auto;
    display: block; 
}

/*-----------Class CSS------------ */
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
/* after about word line */
.section-title::after{
    position: absolute;
    content: "";
    width: 85px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
/*-----------Layout------------ */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100%-2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
/*-----------Home------------ */
.home{
    height: calc(100vh -3rem);
    row-gap: 1rem;
}
.home__data{
    align-self: center;
}
.home__tittle{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home_title_color{
    color: var(--first-color);
}
.home__social{
    display: flex;
    flex-direction: column;
}
.home__social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}
.home__social-icon:hover{
    color: var(--first-color);
}
.home__img {

    position:absolute;
    right: 0;
    bottom: 0;
}
.home__img img{

    /* position:absolute;
    right: 25%;
    bottom:0; */
    border-radius: 50%;
    height: auto;
    box-shadow: 0 10px 36px rgba(0,0,0,.25);
    margin-left: auto;
    margin-right: auto;
}
/*-----------Button------------ */
.button{
    display: inline-block;
    background-color: var(--first-color);
    border-radius: .5rem;
    color: #fff;
    padding: .75rem 1.5rem;
    font-weight: var(--font-semi);
}
.button:hover{
    background-color: var(--second-color);
     box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
/*-----------About------------ */
.about__container{
    row-gap: 2rem;
    text-align: center;
}
.about__subtittle{
    margin-bottom: var(--mb-2);
}
.about__img{
    width: 250px;
    justify-self: center;
}
.about__img img{
    width: 200px;
    border-radius: .5rem;
}
/*-----------Navbar------------ */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
    .home__img{
        margin-right: 20px;
        width: 265px;
        margin: auto;
         bottom: 55%;
    }
    .home__img img{     
        box-shadow: 0 10px 36px rgba(0,0,0,.25);
        
    }
    .about__img img{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .section-title::after{
        bottom: 20px;
        width: 60px;
    }
    .work__container{
        font-size: 0.8rem;
        row-gap: 0;  
    }
    .first__col a{
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 0.5rem 0;
    }
    .button{
        padding: .50rem 1rem;
    }

}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: #fff;
}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}
@media screen and (max-width: 500px){
      .home__img {
        width: 160px;
        right: 40px;
        bottom: 45%;
    }
    .home__img img{
         box-shadow: 0 10px 36px rgba(0,0,0,.25);
    }
}
@media screen and (max-width: 400px){
      .home__img {
        width: 160px;
        right: 20px;
        bottom: 30%;
    }
    .home__img img{
           box-shadow: 0 10px 36px rgba(0,0,0,.25);
    }
}
/*-----------Active menu------------ */
.active::after{
    position: absolute;
    content:"";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top:2rem;
    background-color: var(--first-color);
}
/*-----------Show------------ */
.show{
    right: 0;
}
/*-----------Skills------------ */
.skills__container{
    row-gap: 2rem;
    text-align: center;
}
.skills__subtittle{
    margin-bottom: var(--mb-2);
}
.skills__text{
    margin-bottom: var(--mb-4);
}
.skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);

}
.skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}
.skills__names{
    display: flex;
    align-items: center;
}
.skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}
.skills__html{
    width: 90%;
}
.skills__css{
    width: 85%;
}
.skills__javascript{
    width: 80%;
}
.skills__illustrator{
    width: 80%;
}
.skills__uxui{
    width: 85%;
}
.skills__img{
    border-radius: .5rem;
}
/*-----------work------------ */
.work__container{
    row-gap: 2rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 1rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);   
}
.first__col a{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: center;
}

.first__col a:hover{
    color: var(--first-color);
}
.sec__col a:hover{
    color: var(--first-color);
}
/*-----------Footer------------ */
.footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 1.5rem 0;
}
.footer__title{
    font-size: 1rem;
    margin-bottom: var(--mb-1);
    color: rgb(192, 189, 189)

}
.footer__subtitle{
    font-size: 1.3rem;
    font-weight: lighter;

}
.footer__social{
    margin-bottom: var(--mb-1);
}
.footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0.9rem;
}
.footer__icon:hover{
    color: var(--first-color);
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
/*-----------Media Queries for bigger display------------ */
@media screen and (min-width: 768px){
body{
    margin: 0;
}
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }
.nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }
  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 250px;
    bottom: 15%;
  }
    .about__img img{
    width: 300px;
  }
  /* About section */
.about__container,.skills__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
}
.about__img img{
    width: 300px;
}
}
/*-----------Media Queries for bigger display------------ */
@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
    width: 350px;
  }
}

/*-----------Dark Mode------------ */
.darkMode{
    background-color: #111;
    color: #fff;
}
.modebtn{
    font-size: 1rem;
    cursor: pointer;
}
/* .fadeIn{
    animation: fadeIn 3s linear infinite alternate;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0; ;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;content: "Photographer"}
  } */
  .fadeIn::before{
    content: "";
    animation: animate  6s linear  infinite alternate;
    
  }
  @keyframes animate{
      0%{
         content:" Frontend Developer";
      }
      20%{
         content: "UI/UX Designer";
      }
      60%{
         content:" Photographer";
      }
      80%{
         content: "Traveller";
      }
      100%{
          content: ":)";
      }
  }